@font-face {
    font-family: 'Allerta';
    font-weight: normal;
    src: url("./fonts/Allerta-Regular.ttf") format("truetype");
  }
body {
  margin: 0;
  font-family:'Allerta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
